<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(cart.length) { %>
            <!-- loop over all the cart -->
            <% cart.forEach(product => { %>
                <div class="cart-item">
                    <div class="cart-item__title">
                        <h1><%= product.title %></h1>
                    </div>
                    <div class="cart-item__quantity">
                        <h1>Quantity: <%= product.quantity %></h1>
                    </div>
                    <div class="cart-item__delete">
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
            
        <% } else { %>
            <h1>Cart is empty!</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>